#contact {
  color: var(--text-col);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-container {
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
}

#contact h1 {
  font-size: var(--font-heading);
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--text-col);
  display: inline-block;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: var(--opacity);
  color: var(--text-col);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--text-col-grey);
}

.contact-form button {
  padding: 10px;
  background: #213aa8;
  color: var(--text-col);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact-form button:hover {
  background: var(--hover);
}

.contact-info {
  text-align: left;
  width: 50%;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: var(--font-para);
  color: var(--text-col-grey);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .contact-container {
    height: 100vh;
  }
  .contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-container h1 {
    margin: 70px 0px 0px 0px;
  }
}
